{{ define "main" }}
{{ if .Data.Singular }}
<h1>Posts tagged with &#39;{{ .Title }}&#39;</h1>
{{ end }}
<content>
  {{ if .Content }}
  {{ .Content }}
  {{ end }}
  <ul class="blog-posts">
    {{ range .Pages }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format "Jan 2, 2006" }}
          </time>
        </i>
      </span>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>
</content>
{{ end }}
